@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100&display=swap");
:root {
  --primary-color: rgba(00, 00, 00, 1);
  --secondary-color: rgba(00, 00, 00, 0.8);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;

  background: linear-gradient(90deg, #0500ff, #f8fb76, #4eff75, #00ffd1);
}
.wrapper-body {
  background-color: rgba(255, 255, 255, 0.9);
}
.container {
  margin-left: 150px;
  margin-right: 150px;
}
/* Header Section */
.header {
  padding-top: 58px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-title {
  margin: 0;
  font-size: 22px;
  font-weight: 700;
  color: var(--primary-color);
}
.header-navbar {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-evenly;
  column-gap: 50px;
}
.header-navbar > a {
  font-size: 1rem;
  color: var(--primary-color);
  text-decoration: none;
}
.header-navbar > .active {
  color: var(--primary-color);
  font-weight: 600;
}
.button-sign-up {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  color: var(--primary-color);
  padding: 10px 25px;
  font-weight: 600;
  border: 1px solid rgb(177 176 176 / 80%);
  background-color: transparent;
  border-radius: 4px;
}
.button-sign-up:hover {
  cursor: pointer;
}
/* End Header Section */
/* Hero Section */
.hero-section {
  width: 600px;
  margin: 135px auto 126px;
  text-align: center;
}
.hero-title {
  font-size: 2rem;
  margin-bottom: 0px;
}
.hero-description {
  width: 55ch;
  margin: 15px auto 0px;
  color: var(--secondary-color);
}
.hero-action {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}
.button-hero {
  color: #ffffff;
  font-weight: 600;
  background-color: blue;
  padding: 12px 17px;
  border: none;
  border-radius: 24px;
  box-shadow: 0px 15px 30px 0 rgba(0, 26, 255, 0.2);
  letter-spacing: 0.2px;
}
.hero-qna {
  text-decoration: underline;
  font-weight: 600;
}
/* End Hero Section */
/* Jobs Section */
.jobs-featured {
  padding-bottom: 50px;
}
.jobs-featured-title {
  font-weight: 700;
}
.jobs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}
.job {
  padding: 25px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 30px 60px rgba(0, 26, 255, 0.1);
}
.job-header {
  display: flex;
  align-items: center;
  column-gap: 13px;
}
.logo-container {
  padding: 8px;
  border-radius: 8px;
}
.figma {
  background-color: rgba(255, 255, 255);
}
.facebook {
  background-color: rgba(24, 119, 242);
}
.vercel {
  background-color: rgba(00, 00, 00);
}
.logo {
  height: 100%;
}
.job-title,
.company {
  margin: 0;
}
.company,
.job-description {
  color: rgba(00, 00, 00, 0.6);
}
.company {
  font-size: 0.9rem;
}
.job-description {
  margin-bottom: 0px;
  padding-bottom: 24px;
  border-bottom: 1px solid rgba(00, 00, 00, 0.5);
  font-size: 0.9rem;
  text-align: left;
}
.job-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}
.recuirment-job,
.job-salary {
  font-weight: 600;
}
.recuirment-job {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 24px;
  font-size: 0.72rem;
  padding: 8px 16px;
}
.job-salary {
  font-size: 0.8rem;
}
/* End Jobs Section */
.job-active {
  background-color: rgba(0, 26, 255, 1);
  color: rgb(255, 255, 255);
}
.selected-job {
  color: rgba(255, 255, 255, 0.8);
}
.border-active {
  border-bottom: 1px solid rgba(255 , 255, 255, 0.2);
}
.selected-requirment {
  background-color: rgba(255, 255, 255, 0.15);
}
@media (height >= 1024px) and (width > 1260px) {
  .wrapper-body {
    height: 100vh;
  }
}